@import "tailwindcss";

@theme {
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer utilities {
  .glassmorphism {
    @apply bg-neutral-900/50 backdrop-blur-md border border-neutral-800 shadow-xl;
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}
